*{
    justify-content: center;
    align-items: center;
}
#main{
    width: 100%;

    align-items: center;
    justify-content: center;
    display: flex;
    height: 850px;
}

.camera{
    margin: 10px;
    width: 350px;
    height: 350px;
    background-color: #5c636a;
    display: flex;
    flex-wrap: wrap;
    opacity: 0.9;
}