*{
    box-sizing: border-box;
}
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}
body{
    display: flex; /* or css grid for more intricate layouts */
    flex-direction: column;
    flex-wrap: wrap;

}

.camera{
    background-color: gray;
    opacity: 0.9;
    width: 1280px;
    height: 720px;
    position: absolute;
    margin: auto;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
}